{% extends "base.html" %}
{% block title %}Login page{% endblock %}

{% block content %}
<style>
    
    /* #re{ */
        /* float:left; */
        /* padding:5px; */
        /* margin-left:65px; */
        /* margin-bottom: 20px; */
        
    /* } */
    /* span.a{
        position:relative;
    } */
    #submit,
    #reset
    {
        /* position:relative;
         */
         border-radius: 3px;
        /* padding: px; */
    }
    #submit:hover,
    #reset:hover{
        color: rgb(179, 216, 12);
    }
</style>
<form action="#" method="post">
    <h3>Enter the country name to get weather info:</h3>
    <p><input type="text" name="city_name" ></p>
    <div>
        <input type="submit" id="submit" value="submit">
        <input type="reset" id="reset" value="reset">
    </div>
    
    
</form>


{% endblock %}